extends ../layout
block content
  div.persona
    h1 Nombre: #{persona.nombre} #{persona.apellido}
    p RUT: #{persona.rut}
    hr    
    div(class="row")
      div(class="col-md-8 col-md-offset-2")
        form(method="POST")
          h3 Cambio del Carajarra
          div(class="form-group")
            input(type="text" name="company" placeholder="Empresa" class="form-control" value="#{userComplete.company}")
          div(class="form-group")
            input(type="text" name="store" placeholder="Tienda" class="form-control" value="#{userComplete.store}")
          div(class="form-group")
            input(type="text" name="product" placeholder="Producto" class="form-control")
          button(type="submit" class="btn btn-primary") Enviar
    hr
    h3 Historial de cambios
    table(class="table table-striped" id="tabla-cambios")

      thead
        tr
          th(class="fecha") Fecha
          th(class="producto") Producto
          th(class="tienda") Tienda
          th(class="empresa") Empresa
      tbody
        each cambio in cambios
          tr
            td #{moment(cambio.fecha).format('DD/MM/YYYY HH:mm')}
            td #{cambio.product}
            td #{cambio.store}
            td #{cambio.company}
    
  
    a(href="/") Pagina principal
